<?xml version="1.0"?>
<!-- 
    Note: As an alternative to hand editing this file you can use the 
    web admin tool to configure settings for your application. Use
    the Website->Asp.Net Configuration option in Visual Studio.
    A full list of settings and comments can be found in 
    machine.config.comments usually located in 
    \Windows\Microsoft.Net\Framework\v2.x\Config 
-->
<configuration>
  <!--<appSettings/>-->
  <!--appSettings>
    <add key="StringConexao" value="ConexaoDesenv"/>
  </appSettings-->
  <appSettings>
    <add key="provider" value="System.Data.SqlClient"/>
    <!--<add key="connectionString" value="data source=BARRACO03\sqlexpress;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|dbNivelamento.mdf;User Instance=true"/>-->
    <add key="connectionString" value="data source=i9ti\sqlexpress;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|dbNivelamento.mdf;User Instance=true"/>
    <!--add key="connectionString" value="Data Source=i9ti\sqlexpress; Initial Catalog=dbNivelamento; Integrated Security=SSPI; Min Pool Size=10; Max Pool Size=10;"/>-->
  </appSettings>
  <connectionStrings>
    <!--add name="ConexaoProducao" connectionString="Data Source=i9ti\sqlexpress; Initial Catalog=Nortwind; Integrated Security=SSPI; Min Pool Size=10; Max Pool Size=10;" /-->
    <add name="LocalSqlServer1" connectionString="data source=i9ti\sqlexpress;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|dbNivelamento.mdf;User Instance=true" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <!--
    Para obter uma descrição das alterações do web.config, consulte http://go.microsoft.com/fwlink/?LinkId=235367.

    Os seguintes atributos podem ser definidos na marca <httpRuntime>.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
        -->
    <membership defaultProvider="AspNetSqlMembershipProviderCulturaInglesa">
      <providers>
        <add connectionStringName="LocalSqlServer1" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="true" applicationName="/" requiresUniqueEmail="false" passwordFormat="Hashed" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="7" minRequiredNonalphanumericCharacters="1" passwordAttemptWindow="10" passwordStrengthRegularExpression="" name="AspNetSqlMembershipProviderCulturaInglesa" type="System.Web.Security.SqlMembershipProvider, System.Web, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
      </providers>
    </membership>
    <profile>
      <providers>
        <add name="AspNetSqlProfileProviderCulturaInglesa" connectionStringName="LocalSqlServer1" applicationName="/" type="System.Web.Profile.SqlProfileProvider, System.Web, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
      </providers>
    </profile>
    <roleManager enabled="true" defaultProvider="AspNetSqlRoleProviderCulturaInglesa">
      <providers>
        <add connectionStringName="LocalSqlServer1" applicationName="/" name="AspNetSqlRoleProviderCulturaInglesa" type="System.Web.Security.SqlRoleProvider, System.Web, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
        <add applicationName="/" name="AspNetWindowsTokenRoleProviderCulturaInglesa" type="System.Web.Security.WindowsTokenRoleProvider, System.Web, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
      </providers>
    </roleManager>
    <compilation debug="true" targetFramework="4.5"/>
    <!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
    <authentication mode="Forms"/>
    <!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
  </system.web>
  <!-- 
        The system.webServer section is required for running ASP.NET AJAX under Internet
        Information Services 7.0.  It is not necessary for previous version of IIS.
    -->
  <system.net>
    <mailSettings>
      <smtp from="">
        <network host="mail.culturainglesa.com.br" password="" userName=""/>
      </smtp>
    </mailSettings>
  </system.net>
</configuration>